<footer class="main-footer">
        <div class="footer-top">
            <div class="footer-container">
                
                <div class="footer-col footer-about">
                    <div class="logo">
                        <img class="img" src="assets/images/LogoWite.png" alt="Logo Indumármol"> <span class="logo-text">Despertar Ingenieros S.A.S.</span>
                    </div>
                    <p class="footer-description">
                        Cuando nuestra experticia se conecta con tus proyectos, aseguramos el cumplimiento y la seguridad de tus instalaciones eléctricas.
                    </p>
                    <div class="social-icons">
                        <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="footer-col footer-links">
    
                    <ul>
                        <li><a href="#">Política de manejo de datos</a></li>
                        <li><a href="/contacto">Contáctanos</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>

                <div class="footer-col footer-contact">
                    <h4>
                        <span class="title-icon"><i class="fas fa-map-marker-alt"></i></span>
                        Contáctenos
                    </h4>
                    <p>Calle 99#12-39 Oficina 103</p>
                    <p>(57) 3104580523</p>
                    <p>
                        <strong>E-mail:</strong><br>
                        <a href="mailto:topologia33@hotmail.com" class="link">topologia33@hotmail.com</a>
                    </p>
                    <p>Cali – Colombia</p>
                </div>

            </div>
        </div>
    </footer>

<div class="sub-footer">
    <p>
      Desarrollado con pasión por 
      <a href="https://portfolioys.netlify.app/" target="_blank" rel="noopener noreferrer">YCFR</a> 
      | Copyright © Despertar Ingenieros S.A.S. 2025
    </p>
  </div>