<section id="proyectos" class="gallery-section">
  <div class="gallery-grid">
    <div class="gallery-item">
      <img src="assets/images/marmol.jpg" alt="Mármol">
      <div class="item-info">
        <a>MÁRMOL</a>
        <p>Portmarine - Cartagena</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="assets/images/granito.jpg" alt="Granito">
      <div class="item-info">
        <a>GRANITO</a>
        <p>BBQ - Toberín</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="assets/images/piedra-bali.jpg" alt="Piedra Bali">
      <div class="item-info">
        <a>PIEDRA BALI</a>
        <p>Piscina Casa Malabar - Pereira</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="assets/images/marmol.jpg" alt="Mármol">
      <div class="item-info">
        <a>ÓNIX</a>
        <p>Apt Edificio Mirage - Bogotá</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="assets/images/granito.jpg" alt="Granito">
      <div class="item-info">
        <a>LAVA STONE</a>
        <p>-</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="assets/images/piedra-bali.jpg" alt="Piedra Bali">
      <div class="item-info">
        <a>ARENISCA</a>
        <p>Mesa de Yeguas - Anapoima</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="assets/images/marmol.jpg" alt="Mármol">
      <div class="item-info">
        <a>QUARZITA</a>
        <p>Mesón Cocina - Apt ZF</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="assets/images/granito.jpg" alt="Granito">
      <div class="item-info">
        <a>TRAVERTINO</a>
        <p>Casa Aviñon - Pereira</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="assets/images/piedra-bali.jpg" alt="Piedra Bali">
      <div class="item-info">
        <a>CALIZA</a>
        <p>Casa Farine - Barranquilla</p>
      </div>
    </div>
  </div>
</section>