<section id="productos" class="gallery-section container">
  <h2>Colecciones esculpidas por la naturaleza. Explora el arte en piedra.</h2>
  <div class="gallery-grid">
    <div class="gallery-item">
      <img src="assets/images/marmol.jpg" alt="Mármol">
      <div class="item-info">
        <h3>MÁRMOL</h3>
        <p>Pietra Santa - Extra T4</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="assets/images/granito.jpg" alt="Granito">
      <div class="item-info">
        <h3>GRANITO</h3>
        <p>BBQ Modular</p>
      </div>
    </div>
    <div class="gallery-item">
      <img src="assets/images/piedra-bali.jpg" alt="Piedra Bali">
      <div class="item-info">
        <h3>PIEDRA BALI</h3>
        <p>Piscina Casa Malabar - Pereira</p>
      </div>
    </div>
  </div>
</section>