<header id="">
  <div class="top-bar">
  <div class="container">
    <span>
      <a class="icon" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"> 
        <img src="assets/images/instagram.png" alt="Instagram" class="icon">
      </a>
      <img src="assets/images/phone.png" alt="Teléfono" class="icon">
      <a href="https://wa.me/573112099447" class="link" target="_blank" rel="noopener noreferrer">+57 311 2099447</a>
    </span>
    <span>
      
      <img src="assets/images/email.png" alt="Email" class="icon">
      <a href="mailto:indumarmolcol@gmail.com" class="link">
      indumarmol@gmail.com</a>
    </span>
  </div>
</div>
  <nav class="main-nav container">
    <a href="/" class="logo">
      <img class="img" src="/assets/images/logotipo.png" alt="Logo Indumármol">
    </a>
    <ul class="nav-links">
      <li>
        <a routerLink="/" 
          routerLinkActive="active-link" 
          [routerLinkActiveOptions]="{exact: true}">Inicio</a>
      </li>

      <!---Pendiente animacion del color del texto Producto-->
      <li class="dropdown">
        
        <a routerLinkActive="active-link" (click)="toggleDropdown()" class="dropdown-toggle">
          Productos <span class="arrow">▼</span>
        </a>
        <ul class="dropdown-menu" *ngIf="isDropdownOpen">
          <li *ngFor="let product of products">
            <a [routerLink]="['/productos', product.id]" (click)="isDropdownOpen = false">{{ product.name }}</a>
          </li>
        </ul>
      </li>
        <li>
          <a routerLink="/proyectos" routerLinkActive="active-link">Proyectos</a>
        </li>
      <li><a href="#contacto" (click)="scrollToContact($event)">Contáctanos</a></li>
    </ul>
  </nav>
</header>