/* Estilos Header */
header {
  position: static;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;

}
.top-bar {
  background-color: var(--color-dropdown-bg);
  padding: 0.5rem 0;
  color: var(--color-text-light);
  font-size: 0.8rem;
}
.top-bar .container {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo img {
  height: 40px;
}
.nav-links {
  display: flex;
  color: #1a1a1a;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: var(--color-grebt);
  font-weight: 500;
  padding-bottom: 5px;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: var(--color-accent);
}

/* Estilos del Desplegable */
.dropdown {
  margin-top: 5px;
  position: relative;
}
.dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.arrow {
  font-size: 0.6em;
  transition: transform 0.3s;
}
.dropdown-toggle:hover .arrow {
  transform: translateY(2px);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  padding: 0.5rem 0;
  list-style: none;
  background-color: var(--color-text-light);
  border-radius: 5px;
  min-width: 180px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.dropdown-menu li a {
  display: block;
  padding: 0.7rem 1.5rem;
  font-size: 0.9rem;
  white-space: nowrap;
}

.top-bar span {
  display: flex;
  align-items: center;
  gap: 8px; /* Crea un espacio entre el ícono y el texto */
}

/* Estilos para los íconos */
.icon {
  height: 16px; /* Ajusta la altura del ícono como necesites */
  width: auto;
}