<header>
  <div class="top-bar">
    <div class="container top-bar-content">
      <div class="contact-details">
        <span>
          <img src="assets/images/phone.png" alt="Teléfono" class="icon">
          <a href="https://wa.me/573104580523" class="link">+57 310 4580523</a>
        </span>
        <span>
          <img src="assets/images/phone.png" alt="Teléfono" class="icon">
          <a href="https://wa.me/573104580523" class="link">+57 310 4580523</a>
        </span>
        <span>
          <img src="assets/images/email.png" alt="Email" class="icon">
          <a href="mailto:topologia33@hotmail.com" class="link">topologia33@hotmail.com</a>
        </span>
      </div>
      <div class="social-details">
        <a href="https://www.facebook.com/share/175iVdqyNY/" target="_blank">
          <img src="assets/images/facebook.png" alt="Facebook" class="icon">
        </a>
      </div>
    </div>
  </div>

  <nav class="main-nav">
    <div class="container main-nav-content">
      <a routerLink="/" class="logo">
        <img class="img" src="assets/images/logo.png" alt="Logo Indumármol">
        <span class="company-title">Despertar Ingenieros S.A.S.</span>
      </a>
      <ul class="nav-links">
        <li>
          <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        </li>
        <li>
          <a routerLink="/quienessomos" routerLinkActive="active-link">Quienes Somos</a>
        </li>
        <li class="dropdown" [class.active-link-parent]="isServiciosActive">
          <a (click)="toggleDropdown()" class="dropdown-toggle">
            Nuestros Servicios <span class="arrow">▼</span>
          </a>
          <ul class="dropdown-menu" *ngIf="isDropdownOpen">
            <li *ngFor="let servicio of servicios">
              <a [routerLink]="['/servicios', servicio.id]" (click)="isDropdownOpen = false">{{ servicio.name }}</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/formularios" routerLinkActive="active-link">Formularios</a>
        </li>
          
      </ul>
      <a href="/servicios/contacto" class="cta-button">Contáctanos</a>
    </div>
  </nav>
</header>