<section id="inicio" class="hero-section">

  <video class="hero-video" autoplay loop muted playsinline>
    <source src="assets/videos/1.mp4" type="video/mp4">
    Tu navegador no soporta videos.
  </video>

  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1>Piedra que inspira espacios,
    <br> <h2>tiempo que deja huella.</h2></h1>
    <a href="#contacto" class="btn">Cotiza</a>
  </div>

</section>

<section id="textos" class="hero2">
    <p>Colecciones esculpidas por la naturaleza. Explora el arte en piedra.</p>
  </section>