.hero-section {
  height: 100vh;
  background-image: url('/assets/images/hero-background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--color-text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  /* Este contenedor ya centra el texto, no requiere estilos adicionales por ahora */
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.hero-banner {
  background-size: cover;
  background-position: center;
  height: 30vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.hero-banner h1, .hero-banner p {
  color: white;
  text-align: center;
  margin: 0;
}

.hero-banner h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-banner p {  
  font-size: 2.8rem;
  font-weight: 300;
}

.hero-image{
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 2rem;
}

.hero2{
  background-color: bisque;


  font-size: 1.2rem;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}