/* src/app/components/contact-form/contact-form.component.css */

.contact-section {
  padding: 2rem 2rem;
  /*background-color: bisque;*/
  background-image: url('/assets/images/hero-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.contact-section h2 {
  color: var(--color-text-light);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.contact-form-wrapper {
  background-color: var(--color-grebt);
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  max-width: 820px;
  color: var(--color-text-light);
  background-color: rgba(59, 67, 68, 0.5);
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem 1.5rem;
  
}

.form-group {
  display: flex;
  flex-direction: column;
  opacity: 100%;
}

.form-group.full-width {
  grid-column: 1 / -1;
}

label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

input[type="file"] {
  background-color: transparent;
  padding: 0;
  border: none;
}

textarea {
  resize: vertical;
}

.form-footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.form-group-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-group-check label {
  margin-bottom: 0;
}

.btns {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  border-color: var(--color-accent);
  width: 50%;
  max-width: 250px;
}

/* --- Estilos para pantallas pequeñas (móviles) --- */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .contact-form-wrapper {
    padding: 2rem;
  }
}