.projects-hero {
  position: relative;
  padding: 5rem 2rem;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.projects-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/projects/projectsbg.jpg');
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.projects-hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--color-text-light);
  text-shadow: #333 0px 2px 4px;
}

.projects-hero p {
  font-size: 1.1rem;
  color: var(--color-text-light);
  text-shadow: #333 0px 2px 4px;  
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.7;
}


.projects-gallery {
  padding: 5rem 2rem;
}

.intro-text {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 4rem auto;
  font-size: 1.2rem;
  line-height: 1.8;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
}

.project-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  height: 300px;
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.project-item:hover img {
  transform: scale(1.1);
}

.item-overlay {
  font-family: CasperR;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0rem;
  color: white;
  text-align: center;
  transition: opacity 0.3s;
}

.item-overlay h3 {
  margin: 0;
  transform: translateY(20px);
  transition: transform 0.4s ease;
}

.project-item:hover .item-overlay h3 {
  transform: translateY(0);
}

/* --- Estilos para pantallas pequeñas (móviles) --- */
@media (max-width: 768px) {
  .projects-hero {
    padding: 3rem 1rem;
  }

  .projects-hero h1 {
    font-size: 2.5rem;
  }

  .projects-hero p {
    font-size: 1rem;
  }

  .projects-gallery {
    padding: 3rem 1rem;
  }
}